.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    font-weight: bold;
    list-style: none;
    padding: 1.5rem 0;
    text-transform: uppercase;

    li {
        &:not(:last-child) {
            color: #999!important;
        }

        & + li::before {
            content: '/';
            margin-right: .5rem;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}
