.textfield {
    position: relative;
    display: block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: 0;
    border-color: #fff;
    background-color: #fff;

    &.disabled {
        border-color: #f3f3f3;
        background-color: #f3f3f3;
    }

    span {
        position: absolute;
        top: 0;
        left: .75rem;
        font-size: 1em;
        font-weight: bold;
        border: 0;
        border-color: inherit;
        transform: translateY(1rem);
        transition: all .3s ease-out;
        pointer-events: none;

        &::after{
            content: '';
            position: absolute;
            top: .72rem;
            left: -5px;
            right: -5px;
            border-top: .1rem solid;
            border-color: inherit;
            z-index: -1;
        }
    }

    input {
        width: 100%;
        padding: 1rem .75rem;
        border: 0;
        outline: none;
        font-size: 0.825em;
        line-height: 1rem;
        transition: all .2s ease-out;
        background-color: inherit;
        border: 1px solid #e3e3e3;
        border-radius: inherit;

        &::placeholder{
            color: transparent;
        }

        &:required:invalid + span:before{
            content: '*';
            margin-right: .2rem;
            color: red;
        }
    }

    &:focus-within > span,
    input:not(:placeholder-shown) + span {
        transform: translateY(-0.725rem);
    }
}
