.DS_Store
node_modules
dist
build
dbdata

*.py[co]
.tox/
__pycache__
MANIFEST

# local env files
.env*
!.env.example

# Log files
logs
*.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lock
yarn.lock
package-lock.json
.vercel
