.header-layout {
    text-transform: uppercase;
    background-color: var(--color-primary);

    & > section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 1rem;

        nav.menu {
            li {
                display: inline-block;
                & > a {
                    color: var(--color-secondary);
                    cursor: pointer;
                }
            }

            li + li {
                margin-left: 0.675rem;
            }
        }
    }
}
