.page__home {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        list-style: none;
    }

    li {
        width: 100%;
        max-width: 384px;
    }
}
