.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000040;
    overflow: hidden;
    transition: all .3s ease-out;

    &.show {
        display: block;
    }

    .modal-wrap {
        width: 80%;
        max-width: 780px;
        margin: 0 auto;
        margin-top: 20vh;
        padding: 1rem;
        border: 1px solid #e3e3e3;
        border-radius: .5rem;
        background-color: #fefefe;

        .modal-content {
            padding: 1rem .5rem 0;
        }

        .actions-container {
            display: flex;
            justify-content: end;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

}
