.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form__fields {
        width: 100%;
        max-width: 500px;
    }

    .actions-container {
        display: flex;
        justify-content: start;
        gap: 1rem;
        margin-top: 1rem;
    }
}

