:root {
    --text-color: #191919;
    --bg-color: #fafafa;

    --color-primary: #09153b;
    --color-secondary: #aec600;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: none;
}

html,
body,
#root {
    min-height: 100vh;
    width: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color) !important;
    transition: background 0.2s linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}
.button,
button {
    display: block;
    height: 42px;
    width: 100%;
    max-width: 8rem;
    padding: .5rem;
    margin: 0;
    border: 0;
    border-radius: .5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    cursor: pointer;
}
.button:not(:disabled):hover,
button:not(:disabled):hover {
    transform: scale(1.1);
}

.button:disabled,
button:disabled {
    color: #fff !important;
    background-color: #8e8e8e !important;
    cursor: no-drop;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.layout-wrap,
.layout-container {
    width: 100%;
}

.layout-container {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-delete {
    border: 1px solid red;
    background-color: transparent;
    color: red;
}
